body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #000000; /* Черный фон */
    color: #fff; /* Белый текст */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Занимает всю высоту экрана */
}

/* Общее оформление */
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background-color: #111; /* Очень темный серый для контейнера */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Мягкая тень */
    border-radius: 8px;
}

h1, h2, h3 {
    color: #fff; /* Белые заголовки */
    font-weight: 300; /* Тонкий шрифт */
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.05em; /* Небольшие пробелы между буквами */
}

p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #eee; /* Светло-серый текст */
}

/* Оформление ссылок */
a {
    color: #87ceeb; /* Светло-голубой */
    text-decoration: none;
    transition: color 0.3s ease; /* Плавный переход цвета */
}

a:hover {
    color: #fff; /* Белый цвет при наведении */
}

/* Стили для топстеров */
.topster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.topster-image {
    width: 250px;
    height: auto;
    margin: 15px;
    border: 1px solid #333;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); /* Тень побольше */
    transition: transform 0.3s ease; /* Плавное увеличение при наведении */
}

.topster-image:hover {
    transform: scale(1.05); /* Небольшое увеличение при наведении */
}

/* Футер */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222; /* Темно-серый футер */
    color: #888;
    margin-top: auto; /* Прижимаем к низу */
}

/* Анимация */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

body, h1, h2, h3, p, a, .topster-container {
    animation: fadeIn 1s ease-out forwards;
}
